                                /* boutons slide */

#boutonsAutreSlide {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#boutonsDiapo {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


                                /* bloc slide */
                                
.blocSlide {
    border: none;
    padding: 10px 10px 10px 10px;
   
}

.blocType3, .blocType1 {
    height: auto;
}

.blocImage {
    height: 300px;
}

#bloc11, #bloc21 {
    margin-top: -60px;
    margin-bottom: 30px;
}

#bloc22 {
    margin-bottom: 20px;
}

#bloc31 {
    margin-top: -60px;
    margin-bottom: 30px;
    padding: 30px;
}

#bloc32, #bloc33, #bloc34, #bloc35 {
    margin-bottom: 20px;
    padding: 15px;
}

#bloc41, #bloc51, #bloc61 {
    margin-top: -60px;
    margin-bottom: 40px;
}


                                /* Reservation */

#informations {
    height: auto;
}

#infoStation {
    height: auto;
}



