
img {
    width: 100%;
}

body {
    padding-top: 0px;
}

[class*="col-"] {
    background-color: /* rgba(76, 175, 80, 0.3)*/ none;
    border: /*2px solid black*/ none;
    border-radius: 0px;
    line-height: 40px;
    text-align: center;
}

#sectionPrincipale {
    height: auto;
}

#infoReservation {
    height: 50px;
}

#sectionSlider {
    height: 800px;
}

#Sectioncarte {
    height: 800px;
}

#informations {
    height: 800px;
}

#infoStation {
    height: 400px;
}

#reservation {
    height: 400px;
}

#bouton {
    height: 50px;
}

#boutonsAutreSlide {
    height: 50px;
}

#boutonsDiapo {
    height: 50px;
}

#reservation {
    align-content: center;
    align-items: center;
    justify-content: center;
}













body {
    color: #494E51;
    overflow-x: hidden;
}

                                                                                                                /* Header */

header {
    height: 150px;
}

.navigation {
    height: 150px;
    align-items: center;
}

.titre1 {
    text-transform: uppercase;
    color: #7A050C;
    font-size: 1.4em;
    font-weight: 300;
    font-family: Mansalva, Arial, sans-serif;
}
.titre2 {
    text-transform: uppercase;
    color: #F7BE03;
    font-size: 1.4em;
    font-weight: 300;
    font-family: Mansalva, Arial, sans-serif;
}

/* logo */
#navLogo {
    position: relative;
}

#conteneurLogo {
    border-radius: 80px;
    padding: 2px;
    background-color: #FFD903;
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(50% - 60px);
    right: -30px;
    z-index: 10;
    /*border: 4px solid black; */
    box-shadow: 8px 8px 12px #333;
}

#navLogo img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

/* lien navigation carte */
#navCarte {
    position: relative;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 8px 8px 12px #333;
    z-index: 10;
}

#navCarte a {
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    padding: 3px;
}

#navCarte img {
    height: 50px;
    width: 50px;
}

/* div titre */
#navTitre {
    height: 80px;
    font-family: Oswald, Arial, sans-serif;
    background-color: #FFFFFF;
    z-index: 9;
    padding: 0px 30px 0px 30px;
    box-shadow: 8px 8px 12px #333;
}

#navTitre h1 {
    font-size: 1.8em;
    margin-top: 10px;
}

#navTitre p {
    line-height: 20px;
    font-size: 1.2em;
}

/* div langue */
#navLang {
    height: 80px;
    background-color: #9EA5A7;
    color: #7A050C;
    line-height: 0px;
    padding-top: 10px;
    box-shadow: 8px 8px 12px #333;
    z-index: 10;
}

#navLang h3 {
    margin-bottom: 0px !important;
    font-size: 2em;
}
.fa-sort-down {
    font-size: 1.8em;
    line-height: 0.3 !important;
}



                                                                                                                /* Sous Section 1 */

#sousSection1 {
    min-height: 100vh;
    background-image: url("../img/brisbane2.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 8px 8px 12px #333;
    z-index: 10;
}

                                                                                                                /* Sous Section 2 */

#sousSection2 {
    z-index: 9;
}


                                                                                                                /* Slider */

#slider {
    height: calc(100vh - 200px);
    position: relative;
}

/* r�glages g�n�raux */
.slide {
    position: absolute;
    top: calc(50% - 150px);
}

.blocSlide {
    border-radius: 10px;
    background-color: #F7BE03;
}

.startHidden {
    display: none;
}

/* Type de bloc */
.blocType1 {
    height: 100px;
}

.blocType2 {
    height: 200px;
}

.blocType3 {
    height: 300px;
}



                                                                                                               /* Boutons slider */

/* Boutons diapo */
#boutonsDiapo button {
    border: none;
    background-color: transparent;
}

/*Boutons slide*/
#boutonsAutreSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}
#boutonsAutreSlide button {
    margin-right: 20px;
    background: transparent;
    border: none;
}
 .fa-circle, .fa-step-backward, .fa-play, .fa-pause, .fa-step-forward  {
    color: #F7BE03;
    font-size: 1.6em;
 }


                                                                                                              /* Carte */


/* Hauteur de la carte */
#carte {
    height: 800px;
}

/* Popup des marqueurs */
.leaflet-popup {
    font-family: Roboto Slab, Arial, sans-serif;
}

.leaflet-popup p {
    font-size: 1.3em;
}

.mentions {
    font-weight: bold;
}

/* Popup station ouverte */
.stOpen .leaflet-popup-content-wrapper, .stOpen .leaflet-popup-tip-container .leaflet-popup-tip {
    background-color: white;
    color: #333;
}

/* Popup station fermée */
.stClose .leaflet-popup-content-wrapper, .stClose .leaflet-popup-tip-container .leaflet-popup-tip {
    background-color: #952e28;
    color:cornsilk;
}

/* Bouton réserver */
.btnSub {
    font-weight: bold;
    border: 5px double darkred;
    border-radius: 15px;
    background-color: transparent;
    color: #333;
}


                                                                                                              /* Carte */


footer {
    height: 80px;
    background-color: #9EA5A7;
    color: cornsilk;
}