
body {
    color: #494E51;
    overflow-x: hidden;
    line-height: 2.1em !important;
    padding-top: 0px;
    text-align: center;
}

p {
    margin-bottom: 0rem;
}

img {
    width: 100%;
}

                                                                                                                /* Header */

header {
    height: 150px;
}

.navigation {
    height: 150px;
    align-items: center;
}

.titre1 {
    text-transform: uppercase;
    color: #BE9305;
    font-size: 1.4em;
    font-weight: 300;
    font-family: 'Permanent Marker', Arial, sans-serif;
}
.titre2 {
    text-transform: uppercase;
    color: #333;
    font-size: 1.4em;
    font-weight: 300;
    font-family: 'Permanent Marker', Arial, sans-serif;
}

/* logo */
#navLogo {
    position: relative;
}

#conteneurLogo {
    border-radius: 80px;
    padding: 2px;
    background-color: #F7BE03;
    width: 120px;
    height: 120px;
    position: absolute;
    top: calc(50% - 60px);
    right: -30px;
    z-index: 10;
    border: 1px solid black;
    box-shadow: 3px 3px 0px #333;
}

#navLogo img {
    height: 80px;
    width: 80px;
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 40px);
}

/* lien navigation carte */
#navCarte {
    position: relative;
    height: 80px;
    background-color: #333;
    z-index: 10;
}

#bouton {
    z-index: 1000;
}

.fa-map-marked-alt {
    font-size: 2.7em;
    color: #F7BE03;
}

#navCarte a {
    position: absolute;
    top: calc(50% - 28px);
    left: calc(50% - 28px);
    padding: 3px;
}

#navCarte img {
    height: 50px;
    width: 50px;
}

/* div titre */
#navTitre {
    height: 80px;
    font-family: 'Righteous', Arial, sans-serif;
    background-color: #FFFFFF;
    z-index: 9;
    padding: 0px 30px 0px 30px;
}

#navTitre h1 {
    font-size: 1.5em;
    margin-top: 5px;
}

#navTitre p {
    line-height: 20px;
    font-size: 1.2em;
}

/* div choix ville */
#navList {
    height: 80px;
    background-color: #F7BE03;
    color: #333;
    padding-top: 10px;
    z-index: 10;
    align-items: center;
    display: flex;
    justify-content: center;
}

#navList div {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
    font-size: 1.3em;
    font-family: 'Righteous';
    margin-left: 10px;
    border: 3px solid #333;
    border-radius: 10px;
}

#navList label {
    font-size: 1.5em;
    font-family: 'Righteous';
}

#navList div select {
    border: none;
    box-shadow: none;
    background-color: white;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 10px;
}

#navList div:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #333;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

                                                                                                                /* Sous Section 1 */

#sousSection1 {
    min-height: 100vh;
    background-image: url("../img/mainFeature.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 8px 8px 12px #333;
    z-index: 10;
}

                                                                                                                /* Sous Section 2 */

#sousSection2 {
    z-index: 9;
}


                                                                                                                /* Slider */

#sectionSlider {
    height: 800px;
}

.startHidden {
    display: none;
    margin-left: -3500px;
}

#slider {
    height: calc(100vh - 200px);
    position: relative;
}

/* r�glages g�n�raux */
.slide {
    position: absolute;
    top: calc(50% - 150px);
}

.fa-level-down-alt {
    color: #333;
    font-size: 1.5em;
}
/* BLOC SLIDES */
.blocSlide {
    background-color: #F5F3F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    position: relative;
    box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
    background-position: center;
    border-radius: 5px;
}

.blocText > p {
    font-family: 'Righteous', Arial, sans-serif;
    color: #333;
    font-size: 2em;
    margin-top: 0px;
    z-index: 10;
}

.imgMarker {
    position: absolute;
    width: 40px;
    left: 8px;
    top: 15px;
}

#bloc11 > .bulleInfo {
    margin-top: 35px;
}

#bloc12 {
    background-color: white;
}

#bloc12 > p {
    color: #333;
}

#bloc21 {
    background-size: cover;
    background-position: center;
    background-image: url(../img/clusters.jpg);
    box-shadow: none;
}

#bloc23 {
    background-color: white;
}

#bloc23 > p {
    color: #333;
}

#bloc31 {
    background-color: white;
}

#bloc31 > p {
    color: #333;
}

#bloc32 {
    background-color: #06973B;
}

#bloc33 {
    background-color: #DA6D33 ;
}
#bloc34 {
    background-color: #8A64BB;
}

#bloc35 {
    background-color: #3392DA;
}

#bloc42 {
    background-size: cover;
    background-position: left;
    background-image: url(../img/popup.jpg);
    box-shadow: none;
}

#bloc51 {
    background-size: cover;
    background-position: center;
    background-image: url(../img/signature.jpg);
    box-shadow: none;
}

#bloc52 {
    background-color: white;
}

#bloc52 > p {
    color: #333;
}

#bloc62 {
    background-size: cover;
    background-position: top;
    background-image: url(../img/reservation.jpg);
    box-shadow: none;
}

.bulleInfo {
    display: flex;
    align-items: center;
}

.bulleInfo > div {
    display: flex;
    color: white;
    font-size: 2em;
    font-family: "Righteous", Arial, sans-serif;
    align-items: center;
    justify-content: center;
}

.bulleInfo > p {
    font-family: "Righteous";
    font-size: 1.6em;
    color: #333;
    margin-left: 10px;
}

.litleText {
    font-family: "Roboto Slab", Arial, sans-serif;
    font-size: 0.6em;
    line-height: 1.2em !important;
}

.bigText {
    margin-bottom: 1.2em;
}

.cercle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #333;
}

/* Type de bloc */
.blocType1 {
    height: 100px;
}

.blocType2 {
    height: 200px;
}

.blocType3 {
    height: 300px;
}



                                                                                                               /* Boutons slider */


#bouton {
    height: 50px;
}

#boutonsAutreSlide {
    height: 50px;
}

#boutonsDiapo {
    height: 50px;
}

/* Boutons diapo */
#boutonsDiapo button {
    border: none;
    background-color: transparent;
}

/*Boutons slide*/
#boutonsAutreSlide {
    display: flex;
    justify-content: center;
    align-items: center;
}
#boutonsAutreSlide button {
    margin-right: 20px;
    background: transparent;
    border: none;
}
 .fa-square, .fa-step-backward, .fa-play, .fa-pause, .fa-step-forward  {
    color: #919191;
    font-size: 1.6em;
 }
 .act {
    color: #333;
 }


                                                                                                              /* Carte */

#Sectioncarte {
    height: 800px;
}

/* Hauteur de la carte */
#carte {
    height: 800px;
}

/* Popup des marqueurs */
.leaflet-popup {
    font-family: Roboto Slab, Arial, sans-serif;
}

.leaflet-popup p {
    font-size: 1.3em;
}

.mentions {
    font-weight: bold;
}

/* Popup station ouverte */
.stOpen .leaflet-popup-content-wrapper, .stOpen .leaflet-popup-tip-container .leaflet-popup-tip {
    background-color: white;
    color: #333;
}

/* Popup station fermée */
.stClose .leaflet-popup-content-wrapper, .stClose .leaflet-popup-tip-container .leaflet-popup-tip {
    background-color: #952e28;
    color:cornsilk;
}

/* Bouton réserver Popup */
.btnSub {
    font-weight: bold;
    border: 5px double #015BC9;
    border-radius: 15px;
    background-color: transparent;
    color: #333;
}

                            /* Encart Description */
#informations {
    height: 800px;
}

#infoStation div {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 20px;
}
#infoStation > p {
    margin-top: -10px;
}

#infoStation {
    height: 300px;
}

#reservation {
    height: 500px;
}

#reservation {
    line-height: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formulaireReservation {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

/* croix de fermeture */
#fermerReservation {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.fa-times {
    font-size: 2em;
}

.fa-times:hover {
    color: #952e28;
}
                                         /* CANVAS */
#canvas {
    width: 150px;
    height: 150px;
    border: 5px double #333;
    border-radius: 10px;
}

#boutonReservationDescription {
    margin-top: 20px;
    font-weight: bold;
    border: 5px double #015BC9;
    border-radius: 15px;
    background-color: transparent;
    color: #333;
    padding-bottom: 3px;
}

/* bouton effacer */
#divCanvas {
    position: relative;
}

#boutonEffacerCanvas {
    position: absolute;
    border: none;
    background: transparent;
    font-size: 1.2em;
    border-radius: 100px;
    left: 27px;
    top: 40px;
}

/* bouton effacer logo */
.fa-eraser {
    color: #333;
}

.fa-eraser:hover {
    color: #952e28;
}

                                        /* BANDEAU RESA ACTIVE */

#infoReservation {
    background-color: darkgreen;
    color: white;
    font-size: 1.5em;
}

#infoReservation > p {
    margin-bottom: 2px;
    margin-top: 2px;
}


                                                                                                              /* Pied de page */


footer {
    height: 80px;
    background-color: #9EA5A7;
    color: #333;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}






